#tab {
    border-collapse: collapse;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tab td {
    border: 1px solid rgb(15, 15, 15);
}

#tab tr:hover {
    background: rgb(142, 20, 223);
}

tr:nth-child(2n) {
    background: #778899;
}

tr:nth-child(2n+1) {
    background: rgb(52, 55, 59);
}
#ban{
    position: absolute;
    transform: rotate3d(0, 0, 1, 20deg);
    top: 300px;
    left: 400px;
    font-size: 80px;
    color: red;
    
}